.card
{
  max-width:800px;
  margin: 0 auto; //middle
  padding: 10px;
}
li{
  list-style-type: none;  //taking care of the numbering
  cursor: pointer;
  margin: 10px 0; //space between list
}

li .card:hover{
  border: 1px solid rgb(124, 124, 243)
}
ol{
  padding : 0;
}
