<div class = "container bg-light py-5">
  <h1 class = "display-5 fw-bold">Welcome to Quiz App</h1>
  <p class = "col-md-8 fs-4"> This quiz will contains total of 9 questions. Each Question holds 10 points</p>
  <h4 class="" >Rules</h4>
  <ol>
    <li>Correct Question gives you 10 points</li>
    <li>Incorrect Question gives you -10 points</li>
    <li>You will have 10 sec to answer each question</li>
    <li>Refreshing the page will reset the Quiz</li>
  </ol>
  <h1 style="font-family: cursive; text-align: center;">All the best</h1>
  <div class="name col-md-4 my-3">
    <label for="">Enter your name: </label>
    <!--Include reference #name to referenced the input box-->
    <input #name type="text" class="form-control m-1" placeholder="Enter your name">
    <button class = "btn btn-primary btn-lg m-2" routerLink="/question" (click)="StartQuit()">Start</button>
  </div>
</div>
